*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.button {
  background-color: #00203FFF;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  line-height: 1;
  letter-spacing: 1px;
  cursor: pointer;
  transition: filter 0.15s;
}

.button:hover {
  filter: brightness(120%);
}

.container {
  display: grid;
  grid-template:  repeat(16, 1fr) / repeat(16, 1fr);
  place-self: start center;
  width: 550px;
  height: 550px;
}

.squares {
  border: 1px solid #00203FFF;
  background-color: #ADEFD1FF;
}